* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    font-family: Gilroy;
    background-color: rgb(246,238,225);
}

#text {
    display: flex;
}

#l {
    font-weight: 400;

}

#nev {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#link a {
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#link a:hover{
    color: wheat;
}

#textb {
    text-align: center;
    margin-top: 40px;
}

#textb h1 {
    font-family: voyage;
    font-size: 50px;
    font-weight: 600;
}

#textb p {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25%;
}

#textb button {
    margin-top: 10px;
    padding: 3px;
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
#textb button:hover{
    color: rgb(245, 215, 167);
}

img {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#textboo {
    display: flex;
    font-family: GiLroy;
}

#textl {
    text-align: right;
    width: 50%;
    padding: 20px 6%;
    margin-bottom: 50px;
    border-right: 2px solid black;
}
#textl h5 {
    font-size: 30px;
    font-weight: 600;
}

#textl p {
    margin-top: 10px;
    font-size: 12px;
    padding-left: 100px;
}

#textr {
    position: relative;
    width: 50%;
    padding: 20px 6%;
    margin-bottom: 50px;
    padding-right: 18%;
}
#textu i{
    position: absolute;
    right: 88%;
}
#textu{
    margin-bottom: 10px;
    font-size: 22px;
}
#textu p{
    font-size: 12px;
}
#textd i{
    position: absolute;
    right: 88%;
}
#textd{
    font-size: 22px
}
#textd p{
    font-size: 12px;
}

